<!DOCTYPE html>
<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#005aab">
    <title>Wedding Restaurant</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="css/addons.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body class="aboutpage">
    <div class="fullpage">
        <header>
            <section class="headertop clearfix">
                <div class="container">
                    <div class="topinfo clearfix">
                        <div class="hotline"><a href="tel:(234) 567-891"><i class="fa fa-phone" aria-hidden="true"></i> 1 (234) 567-891</a></div>
                        <div class="email"><a href="mailto:nfo@grandrestaurant.com.vn"><i class="fa fa-envelope" aria-hidden="true"></i> nfo@grandrestaurant.com.vn</a></div>
                        <time><i class="fa fa-clock-o" aria-hidden="true"></i> Monday – Sunday 10 AM – 10 PM</time>
                    </div>
                    <div class="social clearfix"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                </div>
            </section>
            <section class="headermain clearfix">
                <div class="container">
                    <div class="btn-showmenu"><span></span></div>
                    <div class="overlay"></div>
                    <div class="sitelogo">
                        <a href="index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <div class="searchtoggle hidden-lg-up"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <nav class="menu clearfix">
                        <ul class="menulink clearfix">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="gioithieu.html">Giới thiệu</a></li>
                            <li><a href="dichvu.html">Dịch vụ</a></li>
                            <li><a href="datban.html">Đặt bàn</a></li>
                            <li><a href="thucdon.html">Thực đơn</a></li>
                            <li><a href="lienhe.html">Liên hệ</a></li>
                            <li><a href="dangnhap.html">Đăng nhập</a></li>
                        </ul>
                        <div class="searchtoggle hidden-md-down"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </nav>
                    <div class="search clearfix">
                        <div class="btn-closesearch"><span class="lnr lnr-cross"></span></div>
                        <div class="searchwrap clearfix">
                            <input placeholder="Tìm kiếm...">
                            <button class="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="breadcrumb-wrap clearfix">
                <div style="background: url(img/gallery/3.jpg) center center no-repeat;background-size: cover" class="breadcrumb-bg"></div>
                <div class="container">
                    <h3 class="pagename"></h3>
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books"><span itemprop="name">Trang chủ</span></a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books/sciencefiction"><span itemprop="name">Đăng ký</span></a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </div>
            </section>
            <div id="ctl00_mainContent_pnlRegister" class="wrap-secure wrap-register signup-page clearfix">
                <div class="container">
                    <div class="row flex flex-wrap">
                        <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
                            <div class="signup-panel flex flex-wrap clearfix">
                                <div class="signup-form clearfix">
                                    <h1 class="headtitle">Đăng ký tài khoản</h1>
                                    <div id="ctl00_mainContent_pnlRegisterWrapper">
                                        <div id="ctl00_mainContent_pnlStandardRegister">
                                            <div id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_divPreamble" class="regpreamble"></div>
                                            <div class="form-horizontal">
                                                <div id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_pnlRequiredProfilePropertiesUpper"></div>
                                                <div id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_pnlUserName" class="form-group clearfix">
                                                    <label for="ctl00_mainContent_RegisterUser_CreateUserStepContainer_UserName" class="settinglabel control-label">Tên tài khoản</label>
                                                    <div class="settingcontrol">
                                                        <input id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_UserName" name="ctl00$mainContent$RegisterUser$CreateUserStepContainer$UserName" maxlength="50" tabindex="10" class="form-control">
                                                        <span
                                                            id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_UserNameRequired" title="Vui lòng nhập Tên tài khoản" style="display:none" class="fa fa-exclamation-triangle">Vui lòng nhập Tên tài khoản</span><span id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_regexUserName" style="display:none" class="fa fa-exclamation-triangle"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label for="ctl00_mainContent_RegisterUser_CreateUserStepContainer_Email" class="settinglabel control-label">Email</label>
                                                    <div class="settingcontrol">
                                                        <input id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_Email" name="ctl00$mainContent$RegisterUser$CreateUserStepContainer$Email" maxlength="100" tabindex="10" class="form-control">
                                                        <span
                                                            id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_EmailRequired" title="Vui lòng nhập email." style="display:none" class="fa fa-exclamation-triangle">Vui lòng nhập email.</span><span id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_EmailRegex" title="Phải sử dụng địa chỉ email hợp lệ." style="display:none" class="fa fa-exclamation-triangle">Phải sử dụng địa chỉ email hợp lệ.</span>
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label for="ctl00_mainContent_RegisterUser_CreateUserStepContainer_Password" class="settinglabel control-label">Mật khẩu</label>
                                                    <div class="settingcontrol">
                                                        <!-- 2013.1.417.40--><span id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_Password_wrapper" style="white-space:normal" class="RadInput RadInput_Default">
                                <input id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_Password" name="ctl00$mainContent$RegisterUser$CreateUserStepContainer$Password" size="20" maxlength="20" tabindex="10" type="password" style="width:100%" class="riTextBox riEnabled form-control">
                                <input id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_Password_ClientState" name="ctl00_mainContent_RegisterUser_CreateUserStepContainer_Password_ClientState" type="hidden" autocomplete="off" value="{&quot;enabled&quot;:true,&quot;emptyMessage&quot;:&quot;&quot;,&quot;validationText&quot;:&quot;&quot;,&quot;valueAsString&quot;:&quot;&quot;,&quot;lastSetTextBoxValue&quot;:&quot;&quot;}"></span>
                                                        <span
                                                            id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_PasswordRequired" title="Vui lòng nhập mật khẩu." style="display:none" class="fa fa-exclamation-triangle">Vui lòng nhập mật khẩu.</span>
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label for="ctl00_mainContent_RegisterUser_CreateUserStepContainer_ConfirmPassword" class="settinglabel control-label">Xác nhận mật khẩu</label>
                                                    <div class="settingcontrol">
                                                        <input id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_ConfirmPassword" name="ctl00$mainContent$RegisterUser$CreateUserStepContainer$ConfirmPassword" type="password" maxlength="20" tabindex="10" class="form-control">
                                                        <span
                                                            id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_ConfirmPasswordRequired" title="Vui lòng nhập Xác nhận mật khẩu." style="display:none" class="fa fa-exclamation-triangle">Vui lòng nhập Xác nhận mật khẩu.</span><span id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_PasswordCompare" title="Mật khẩu xác nhận phải khớp với Mật khẩu." style="display:none" class="fa fa-exclamation-triangle">Mật khẩu xác nhận phải khớp với Mật khẩu.</span>
                                                    </div>
                                                </div>
                                                <div id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_pnlRequiredProfileProperties">
                                                    <div class="form-group clearfix">
                                                        <label for="ctl00_mainContent_RegisterUser_CreateUserStepContainer_txtFirstName" class="settinglabel control-label">Họ tên</label>
                                                        <div class="settingcontrol">
                                                            <input id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_txtFirstName" name="ctl00$mainContent$RegisterUser$CreateUserStepContainer$txtFirstName" maxlength="100" size="45" tabindex="10" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label for="ctl00_mainContent_RegisterUser_CreateUserStepContainer_txtMSN" class="settinglabel control-label">Điện thoại</label>
                                                        <div class="settingcontrol">
                                                            <input id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_txtMSN" name="ctl00$mainContent$RegisterUser$CreateUserStepContainer$txtMSN" maxlength="50" tabindex="10" class="form-control">
                                                            <span
                                                                id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_ctl08" title="Vui lòng nhập Điện thoại." style="display:none" class="fa fa-exclamation-triangle">Vui lòng nhập Điện thoại.</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="settinglabel control-label">Tỉnh/Thành phố</label>
                                                        <div class="settingcontrol">
                                                            <select id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_iscProvince_ddProvince" name="ctl00$mainContent$RegisterUser$CreateUserStepContainer$iscProvince$ddProvince">
                                  <option value=""></option>
                                  <option value="274f5dec-359a-4577-b290-115ab57ba3c4">TP Hồ Chí Minh</option>
                                  <option value="869fcb10-e787-4907-9e14-95e1d91b79b5">Hà Nội</option>
                                  <option value="67e1a13a-7e83-44a3-9ae5-534186e59138">An Giang</option>
                                  <option value="6647c20e-dee0-497d-ad33-2018dea345dc">Bà Rịa-Vũng Tàu</option>
                                  <option value="54652d54-9a3f-497f-9121-f53b83d28219">Bắc Cạn</option>
                                  <option value="6544f707-a5a6-499b-9f38-2333238accfb">Bắc Giang</option>
                                  <option value="5b181a61-57fc-49b8-bfef-74730217a75b">Bạc Liêu</option>
                                  <option value="8815a882-2d11-4f88-a8d7-d482327e8b6e">Bắc Ninh</option>
                                  <option value="15191f81-a316-43c8-b697-a80bad9c1d1c">Bến Tre</option>
                                  <option value="bf2043d2-8a86-4201-981d-da5b15e42efd">Bình Định</option>
                                  <option value="cfa11ae6-95e1-438b-900f-92064095af65">Bình Dương</option>
                                  <option value="052a7503-2aca-4d45-b7d2-d016f5c47792">Bình Phước</option>
                                  <option value="311a91ad-4ef0-4e29-b1da-b56e4591dae8">Bình Thuận</option>
                                  <option value="f84c8d59-dfd9-4633-9640-93ea88cd42a2">Cà Mau</option>
                                  <option value="be47dd01-9c5b-4fe8-9c6a-7e425c94dc89">Cần Thơ</option>
                                  <option value="7e35fcbc-339c-4416-8882-bfe24fb3f23f">Cao Bằng</option>
                                  <option value="ec6ccbd8-e902-42e8-8e0f-311ac62e6537">Đà Nẵng</option>
                                  <option value="854fb4c1-b8b4-466a-8280-619a6d6dd819">Đắc Nông</option>
                                  <option value="6bf59802-1bb0-4c5f-a673-028780633299">Đắk Lắk</option>
                                  <option value="c0e2316e-4d75-43c9-8491-25c374be65a3">Điện Biên</option>
                                  <option value="da45d79b-5c21-44e7-a467-bd554d5312c9">Đồng Nai</option>
                                  <option value="2efb489d-ceae-4c78-b6be-1becc76ca99c">Đồng Tháp</option>
                                  <option value="f8c836c0-1da8-4e14-b4a3-0e6327ee5d52">Gia Lai</option>
                                  <option value="83aa6b04-716c-4b94-97ad-5319a8bcb56c">Hà Giang</option>
                                  <option value="83479be9-0afa-447b-a32f-13b6fd9e353e">Hà Nam</option>
                                  <option value="c6a75f29-8466-4774-a106-fc770867d6c4">Hà Tĩnh</option>
                                  <option value="b838a841-6bcd-4b78-aa3a-a63e18da04ff">Hải Dương</option>
                                  <option value="b70ac72a-3ce2-4698-88ad-653080de9c78">Hải Phòng</option>
                                  <option value="fd3e9dc4-ceb3-44b8-9894-caf1ee123965">Hậu Giang</option>
                                  <option value="60a16e24-647f-4a96-a54a-ddb084d0a053">Hoà Bình</option>
                                  <option value="ed462b99-1f3d-4a4b-a3cc-f0dca5a9e93c">Hưng Yên</option>
                                  <option value="fa80bb21-f912-4e65-8c89-17377058c9b2">Khánh Hòa</option>
                                  <option value="a358b927-5e0d-49fd-b6c0-3e69c47cf2d5">Kiên Giang</option>
                                  <option value="5e6612aa-a26c-4a7f-9fbc-9f55f6b596c5">Kon Tum</option>
                                  <option value="95d65ca8-e9ec-4c93-bf8e-f4a5bccd5833">Lai Châu</option>
                                  <option value="2567c2e0-6e8a-4f53-b350-133f993aba98">Lâm Đồng</option>
                                  <option value="784e41dd-bd81-4a15-a7d4-8f5afb457aa5">Lạng Sơn</option>
                                  <option value="0e897c59-f7ba-483e-9ce8-f1fcac354583">Lào Cai</option>
                                  <option value="4ca97360-7c5a-4a22-9136-b14840fff578">Long An</option>
                                  <option value="f4834297-8162-4bc0-9024-6083a92865a7">Nam Định</option>
                                  <option value="a9694403-eeba-4d81-9e61-d2e5c3780774">Nghệ An</option>
                                  <option value="92468954-6bec-4a23-862d-e270edaba0c5">Ninh Bình</option>
                                  <option value="cf1d903d-90b9-4548-8887-7c8fbe114ee3">Ninh Thuận</option>
                                  <option value="fcfc7273-9409-40dc-bfa6-76212b36e912">Phú Thọ</option>
                                  <option value="83fe32ac-72c0-4a4c-afed-120f2b37f405">Phú Yên</option>
                                  <option value="0992fcc3-a622-4220-9814-b045520361d5">Quảng Bình</option>
                                  <option value="17448059-0365-469b-ae5f-8c084b14b34b">Quảng Nam</option>
                                  <option value="0b903f54-370f-41c4-ac9b-fc53512dcc57">Quảng Ngãi</option>
                                  <option value="79541ff3-90c2-4714-abe5-f62fe4443c6e">Quảng Ninh</option>
                                  <option value="89ea9391-3e95-42a6-b1f1-0478479a1997">Quảng Trị</option>
                                  <option value="9a25572f-c7ef-40e1-876f-1bb4a0feda23">Sóc Trăng</option>
                                  <option value="8d78d64b-4524-4447-ba8a-e4ba567329da">Sơn La</option>
                                  <option value="4c5de337-27a8-44c6-bbd9-275c73bacdd7">Tây Ninh</option>
                                  <option value="583ba70b-26ef-4dfe-9f81-ab52f3acd09f">Thái Bình</option>
                                  <option value="8aa4d2a7-e249-4fce-9f03-eb9767018031">Thái Nguyên</option>
                                  <option value="754ad0a0-4e26-4d58-9c96-2da126d47ea6">Thanh Hóa</option>
                                  <option value="4c44314c-61aa-4799-8fa2-c6036080e366">Thừa Thiên-Huế</option>
                                  <option value="0adae126-e185-40d5-bc12-ae2989341e24">Tiền Giang</option>
                                  <option value="c82bf4de-4d4b-402a-9bd3-458185dc720d">Trà Vinh</option>
                                  <option value="01a35bd2-2028-4a97-be66-bb440d2d90ae">Tuyên Quang</option>
                                  <option value="9b3f1468-5702-4f12-be27-ee7cd84a6ad8">Vĩnh Long</option>
                                  <option value="5f9fc408-88a9-452a-8bbd-41a98536c786">Vĩnh Phúc</option>
                                  <option value="e1d7e456-58c7-40b8-beec-431cfe12c15e">Yên Bái</option>
                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_divAgreement" class="regagree"></div>
                                                <div class="confirm clearfix"><span id="ctl00_mainContent_RegisterUser_CreateUserStepContainer_MustAgree" onclientvalidate="CheckBoxRequired_ClientValidate" style="display:none" class="fa fa-exclamation-triangle"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-wrap text-xs-center"><a href="dangkytc.html" class="btn-continue">Đăng ký</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="text-xs-center">
            <div class="container">
                <div class="footertop clearfix">
                    <nav class="footernav clearfix">
                        <ul>
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="gioithieu.html">Giới thiệu</a></li>
                            <li><a href="dichvu.html">Dịch vụ</a></li>
                            <li><a href="datban.html">Đặt bàn</a></li>
                            <li><a href="thucdon.html">Thực đơn</a></li>
                            <li><a href="lienhe.html">Liên hệ</a></li>
                            <li><a href="dangnhap.html">Đăng nhập</a></li>
                        </ul>
                    </nav>
                    <div class="social clearfix"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div class="contactinfo clearfix">
                        <div class="company">TRUNG TÂM HỘI NGHỊ & TIỆC CƯỚI Grand Restaurant</div>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 12 Nguyễn Văn Bảo, P.4, Q.Gò Vấp, TP.Hồ Chí Minh</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> Điện thoại: (08) 3811 8181 - <i class="fa fa-envelope" aria-hidden="true"></i> Email: info@grandrestaurant.com.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerbottom clearfix">
                <div class="container">
                    <div class="copyright">Copyright © 2017 Grand Restaurant. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <div class="up"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <!-- inject:js -->
    <script src="js/addons.js"></script>
    <script src="js/main.js"></script>
    <!-- endinject -->
</body>

</html>

</html>