<!DOCTYPE html>
<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#005aab">
    <title>Wedding Restaurant</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="css/addons.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body class="aboutpage">
    <div class="fullpage">
        <header>
            <section class="headertop clearfix">
                <div class="container">
                    <div class="topinfo clearfix">
                        <div class="hotline"><a href="tel:(234) 567-891"><i class="fa fa-phone" aria-hidden="true"></i> 1 (234) 567-891</a></div>
                        <div class="email"><a href="mailto:nfo@grandrestaurant.com.vn"><i class="fa fa-envelope" aria-hidden="true"></i> nfo@grandrestaurant.com.vn</a></div>
                        <time><i class="fa fa-clock-o" aria-hidden="true"></i> Monday – Sunday 10 AM – 10 PM</time>
                    </div>
                    <div class="social clearfix"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                </div>
            </section>
            <section class="headermain clearfix">
                <div class="container">
                    <div class="btn-showmenu"><span></span></div>
                    <div class="overlay"></div>
                    <div class="sitelogo">
                        <a href="index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <div class="searchtoggle hidden-lg-up"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <nav class="menu clearfix">
                        <ul class="menulink clearfix">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="gioithieu.html">Giới thiệu</a></li>
                            <li class="active"><a href="dichvu.html">Dịch vụ</a></li>
                            <li><a href="datban.html">Đặt bàn</a></li>
                            <li><a href="thucdon.html">Thực đơn</a></li>
                            <li><a href="lienhe.html">Liên hệ</a></li>
                            <li><a href="dangnhap.html">Đăng nhập</a></li>
                        </ul>
                        <div class="searchtoggle hidden-md-down"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </nav>
                    <div class="search clearfix">
                        <div class="btn-closesearch"><span class="lnr lnr-cross"></span></div>
                        <div class="searchwrap clearfix">
                            <input placeholder="Tìm kiếm...">
                            <button class="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="breadcrumb-wrap clearfix">
                <div style="background: url(img/about/6.jpg) center center no-repeat;background-size: cover" class="breadcrumb-bg"></div>
                <div class="container">
                    <h3 class="pagename"></h3>
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books"><span itemprop="name">Trang chủ</span></a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books/sciencefiction"><span itemprop="name">Dịch vụ</span></a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </div>
            </section>
            <div class="container">
                <section class="service-page clearfix">
                    <h1 class="pagetitle">Trang trí tiệc theo chuẩn</h1>
                    <div class="content">
                        <p>Đối với mỗi cặp đôi, bên cạnh việc chu toàn cho lễ đón dâu, lựa chọn thực đơn còn phải cân nhắc kĩ lưỡng trong việc lựa chọn sảnh tiệc phù hợp. Để góp phần mang lại một lễ cưới hoàn hảo và đầy ý nghĩa, Grand Palace giới thiệu đến
                            các cặp đôi không gian tổ chức tiệc cưới sang trọng từ thiết kế sảnh đón tiếp lịch thiệp, khu vực bàn đón khách thanh nhã đến hoa tươi trang trí tinh tế sẽ mang đến những giây phút ngọt ngào và ấn tượng cho từng cặp đôi.</p>
                        <p>Dịch vụ trang trí chuẩn bao gồm:</p>
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-4">
                                <ul>
                                    <li>Hoa tươi bàn tiệc</li>
                                    <li>Trang trí lối đi sân khấu</li>
                                    <li>Thùng tiền mừng</li>
                                    <li>2 chai rượu Champagne + đá khói </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <ul>
                                    <li>Hoa tươi bàn tháp rượu</li>
                                    <li>Trang trí sân khấu</li>
                                    <li>Bánh cưới 5 tầng (tặng 1 thật)</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <ul>
                                    <li>Trang trí phông chữ sân khấu</li>
                                    <li>Liễn & viết ký tên</li>
                                    <li>Màn hình máy chiếu</li>
                                </ul>
                            </div>
                        </div>
                        <figure><img src="img/service/pic/1.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/2.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/3.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/4.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/5.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/6.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/7.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/8.jpg" alt="alt" class="class"></figure>
                        <figure><img src="img/service/pic/9.jpg" alt="alt" class="class"></figure>
                    </div>
                    <div class="share"><img src="img/share.jpg" alt=""></div>
                </section>
                <section class="other-service clearfix">
                    <h2 class="pagetitle">Dịch vụ khác</h2>
                    <div class="service-list clearfix">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="other-col">
                                    <figure>
                                        <a href="#" class="other-img"><img src="img/banner/8.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="other-name"><a href="#">Trang trí sảnh tiệc theo chủ đề</a></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="other-col">
                                    <figure>
                                        <a href="#" class="other-img"><img src="img/banner/7.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="other-name"><a href="#">Nghi thức khai tiệc</a></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer class="text-xs-center">
            <div class="container">
                <div class="footertop clearfix">
                    <nav class="footernav clearfix">
                        <ul>
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="gioithieu.html">Giới thiệu</a></li>
                            <li><a href="dichvu.html">Dịch vụ</a></li>
                            <li><a href="datban.html">Đặt bàn</a></li>
                            <li><a href="thucdon.html">Thực đơn</a></li>
                            <li><a href="lienhe.html">Liên hệ</a></li>
                            <li><a href="dangnhap.html">Đăng nhập</a></li>
                        </ul>
                    </nav>
                    <div class="social clearfix"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div class="contactinfo clearfix">
                        <div class="company">TRUNG TÂM HỘI NGHỊ & TIỆC CƯỚI Grand Restaurant</div>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 12 Nguyễn Văn Bảo, P.4, Q.Gò Vấp, TP.Hồ Chí Minh</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> Điện thoại: (08) 3811 8181 - <i class="fa fa-envelope" aria-hidden="true"></i> Email: info@grandrestaurant.com.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerbottom clearfix">
                <div class="container">
                    <div class="copyright">Copyright © 2017 Grand Restaurant. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <div class="up"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <!-- inject:js -->
    <script src="js/addons.js"></script>
    <script src="js/main.js"></script>
    <!-- endinject -->
</body>

</html>

</html>