<!DOCTYPE html>
<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#005aab">
    <title>Wedding Restaurant</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="css/addons.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body class="aboutpage">
    <div class="fullpage">
        <header>
            <section class="headertop clearfix">
                <div class="container">
                    <div class="topinfo clearfix">
                        <div class="hotline"><a href="tel:(234) 567-891"><i class="fa fa-phone" aria-hidden="true"></i> 1 (234) 567-891</a></div>
                        <div class="email"><a href="mailto:nfo@grandrestaurant.com.vn"><i class="fa fa-envelope" aria-hidden="true"></i> nfo@grandrestaurant.com.vn</a></div>
                        <time><i class="fa fa-clock-o" aria-hidden="true"></i> Monday – Sunday 10 AM – 10 PM</time>
                    </div>
                    <div class="social clearfix"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                </div>
            </section>
            <section class="headermain clearfix">
                <div class="container">
                    <div class="btn-showmenu"><span></span></div>
                    <div class="overlay"></div>
                    <div class="sitelogo">
                        <a href="index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <div class="searchtoggle hidden-lg-up"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <nav class="menu clearfix">
                        <ul class="menulink clearfix">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="gioithieu.html">Giới thiệu</a></li>
                            <li><a href="dichvu.html">Dịch vụ</a></li>
                            <li><a href="datban.html">Đặt bàn</a></li>
                            <li class="active"><a href="thucdon.html">Thực đơn</a></li>
                            <li><a href="lienhe.html">Liên hệ</a></li>
                            <li><a href="dangnhap.html">Đăng nhập</a></li>
                        </ul>
                        <div class="searchtoggle hidden-md-down"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </nav>
                    <div class="search clearfix">
                        <div class="btn-closesearch"><span class="lnr lnr-cross"></span></div>
                        <div class="searchwrap clearfix">
                            <input placeholder="Tìm kiếm...">
                            <button class="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="breadcrumb-wrap clearfix">
                <div style="background: url(img/banner/3.jpg) center center no-repeat;background-size: cover" class="breadcrumb-bg"></div>
                <div class="container">
                    <h3 class="pagename"></h3>
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books"><span itemprop="name">Trang chủ</span></a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="https://example.com/books/sciencefiction"><span itemprop="name">Thực đơn</span></a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </div>
            </section>
            <section class="food-page clearfix">
                <div class="container">
                    <h1 class="pagetitle">Thực đơn</h1>
                    <div class="pagedes">Với sự sáng tạo không ngừng nghỉ của các đầu bếp tài ba, thực đơn ẩm thực của Grand Restaurant ngày càng phong phú hơn và được nhiều thực khách yêu thích với các món đặc trưng sau: Chả Giò Sầu Riêng, Chả Giò Trái Cây, Chả Giò Cá Lóc,
                        Gỏi Wasabi, Gỏi Bò Hoa Lư ngon tuyệt. Dù chỉ một lần thưởng thức thôi, chắc chắn quý khách sẽ bị mùi vị tuyệt vời này mê hoặc hoàn toàn.</div>
                    <div class="row flex flex-wrap">
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu1/1.jpg" data-fancybox="gal1" class="title">MENU 1 – 1.200.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Soup cua tuyết nhĩ</p>
                                    <p>2. Nem nướng</p>
                                    <p>3. Gỏi tiến vua tôm thịt + Bánh phồng</p>
                                    <p>4. Cá chẽm Hấp HongKong</p>
                                    <p>5. Cơm chiên cá mặn</p>
                                    <p>6. Rau câu dừa</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu1/2.jpg" data-fancybox="gal1"></a>
                                    <a href="img/menu1/3.jpg" data-fancybox="gal1"></a>
                                    <a href="img/menu1/4.jpg" data-fancybox="gal1"></a>
                                    <a href="img/menu1/5.jpg" data-fancybox="gal1"></a>
                                    <a href="img/menu1/6.jpg" data-fancybox="gal1"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu2/1.jpg" data-fancybox="gal2" class="title">MENU 2 – 1.200.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Soup cua trứng cút</p>
                                    <p>2. Chả lụa + Nem chua</p>
                                    <p>3. Gỏi bồn bồn tôm thịt + Bánh phồng</p>
                                    <p>4. Cá diêu hồng hấp HongKong</p>
                                    <p>5. Lẩu Thái hải sản + Bún</p>
                                    <p>6. Rau câu lá dứa</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu2/2.jpg" data-fancybox="gal2"></a>
                                    <a href="img/menu2/3.jpg" data-fancybox="gal2"></a>
                                    <a href="img/menu2/4.jpg" data-fancybox="gal2"></a>
                                    <a href="img/menu2/5.jpg" data-fancybox="gal2"></a>
                                    <a href="img/menu2/6.jpg" data-fancybox="gal2"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu3/1.jpg" data-fancybox="gal3" class="title">MENU 3 – 1.200.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Soup cua gà xé</p>
                                    <p>2. Chả giò Minh Hồng</p>
                                    <p>3. Gỏi củ hủ dừa tôm thịt</p>
                                    <p>4. Cá tai tượng chiên xù</p>
                                    <p>5. Lẩu tươi sống + Mì</p>
                                    <p>6. Dưa hấu</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu3/2.jpg" data-fancybox="gal3"></a>
                                    <a href="img/menu3/3.jpg" data-fancybox="gal3"></a>
                                    <a href="img/menu3/4.jpg" data-fancybox="gal3"></a>
                                    <a href="img/menu3/5.jpg" data-fancybox="gal3"></a>
                                    <a href="img/menu3/6.jpg" data-fancybox="gal3"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu4/1.jpg" data-fancybox="gal4" class="title">MENU 4 – 1.200.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Soup cua hột gà</p>
                                    <p>2. Chả loan phụng</p>
                                    <p>3. Gỏi ngó sen tôm thịt + Bánh phồng</p>
                                    <p>4. Nai né + Bánh đa</p>
                                    <p>5. Lẩu cá thác lác</p>
                                    <p>6. Rau câu ca cao</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu4/2.jpg" data-fancybox="gal4"></a>
                                    <a href="img/menu4/3.jpg" data-fancybox="gal4"></a>
                                    <a href="img/menu4/4.jpg" data-fancybox="gal4"></a>
                                    <a href="img/menu4/5.jpg" data-fancybox="gal4"></a>
                                    <a href="img/menu4/6.jpg" data-fancybox="gal4"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu5/1.jpg" data-fancybox="gal5" class="title">MENU 5 – 1.400.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Khai vị 2 món: Chả giò sầu riêng, Ốc bươu nhồi thịt</p>
                                    <p>2. Gỏi bò bóp thấu + Bánh phồng</p>
                                    <p>3. Cải thìa xào nấm đông cô</p>
                                    <p>4. Gà ta nấu nấm + bánh mì</p>
                                    <p>5. Cơm chiên Dương Châu</p>
                                    <p>6. Dưa hấu + Thơm</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu5/2.jpg" data-fancybox="gal5"></a>
                                    <a href="img/menu5/3.jpg" data-fancybox="gal5"></a>
                                    <a href="img/menu5/4.jpg" data-fancybox="gal5"></a>
                                    <a href="img/menu5/5.jpg" data-fancybox="gal5"></a>
                                    <a href="img/menu5/6.jpg" data-fancybox="gal5"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu6/1.jpg" data-fancybox="gal6" class="title">MENU 6 – 1.400.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Khai vị 2 món: Càng cua bách hoa, Chả loan phụng</p>
                                    <p>2. Gỏi củ hủ dừa tôm thịt + Bánh phồng</p>
                                    <p>3. Cá chẽm hấp xí muội</p>
                                    <p>4. Nai né</p>
                                    <p>5. Lẩu Thái chua cay + bún</p>
                                    <p>6. Rau câu ca cao</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu6/2.jpg" data-fancybox="gal6"></a>
                                    <a href="img/menu6/3.jpg" data-fancybox="gal6"></a>
                                    <a href="img/menu6/4.jpg" data-fancybox="gal6"></a>
                                    <a href="img/menu6/5.jpg" data-fancybox="gal6"></a>
                                    <a href="img/menu6/6.jpg" data-fancybox="gal6"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu7/1.jpg" data-fancybox="gal7" class="title">MENU 7 – 1.500.000 đ/bàn</a>
                                <des>
                                    <p>1. Khai vị 3 món: Tôm cuộn khoai tây, Nem nướng, Chả cá chép thái lan</p>
                                    <p>2. Gỏi củ hủ dừa tôm thịt</p>
                                    <p>3. Đà điểu né + bánh đa</p>
                                    <p>4. Sườn non hầm tiêu + Bánh mì</p>
                                    <p>5. Cơm chiên gà xé hạt sen</p>
                                    <p>6. Rau câu</p>
                                </des>
                                <div class="imglist">
                                    <a href="img/menu7/2.jpg" data-fancybox="gal7"></a>
                                    <a href="img/menu7/3.jpg" data-fancybox="gal7"></a>
                                    <a href="img/menu7/4.jpg" data-fancybox="gal7"></a>
                                    <a href="img/menu7/5.jpg" data-fancybox="gal7"></a>
                                    <a href="img/menu7/6.jpg" data-fancybox="gal7"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu8/1.jpg" data-fancybox="gal8" class="title">MENU 8 – 1.500.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Khai vị 3 món: Chả giò hải sản, Chả Loan Phụng, Nem nướng</p>
                                    <p>2. Cá chép um cải chua</p>
                                    <p>3. Nai né + bánh đa</p>
                                    <p>4. Lưỡi bò sốt rượu vang + bánh mì</p>
                                    <p>5. Lẩu hải sản + Bún</p>
                                    <p>6. Bánh flan</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu8/2.jpg" data-fancybox="gal8"></a>
                                    <a href="img/menu8/3.jpg" data-fancybox="gal8"></a>
                                    <a href="img/menu8/4.jpg" data-fancybox="gal8"></a>
                                    <a href="img/menu8/5.jpg" data-fancybox="gal8"></a>
                                    <a href="img/menu8/6.jpg" data-fancybox="gal8"></a>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12 col-md-6 col-lg-4">
                            <div class="food-col"><a href="img/menu9/1.jpg" data-fancybox="gal9" class="title">MENU 9 – 1.500.000 đ/bàn</a>
                                <div class="des">
                                    <p>1. Khai vị 3 món: Chả giò Thái Lan, Cá thác lác chiên cốm, Mực chiên xù</p>
                                    <p>2. Gỏi mai tuyết nhĩ</p>
                                    <p>3. Nai né</p>
                                    <p>4. Bò hầm khoai tây + Bánh mì</p>
                                    <p>5. Lẩu cá ngát nấu măng chua</p>
                                    <p>6. Bánh su kem</p>
                                </div>
                                <div class="imglist">
                                    <a href="img/menu9/2.jpg" data-fancybox="gal9"></a>
                                    <a href="img/menu9/3.jpg" data-fancybox="gal9"></a>
                                    <a href="img/menu9/4.jpg" data-fancybox="gal9"></a>
                                    <a href="img/menu9/5.jpg" data-fancybox="gal9"></a>
                                    <a href="img/menu9/6.jpg" data-fancybox="gal9"></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <h1 class="pagetitle">Các món ăn không nằm trong thực đơn</h1>
                    <div class="speciallist">
                        <div class="row flex flex-wrap">
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/1.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m1" type="checkbox" name="">
                                                <label for="m1">Đậu hũ Tứ Xuyên chiên giòn</label>
                                            </div>
                                            <div class="price">80.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/2.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m2" type="checkbox" name="">
                                                <label for="m2">Pizza thực vật</label>
                                            </div>
                                            <div class="price">180.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/3.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m3" type="checkbox" name="">
                                                <label for="m3">Trái cây + sữa chua trán miệng</label>
                                            </div>
                                            <div class="price">50.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/4.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m4" type="checkbox" name="">
                                                <label for="m4">Kem trái cây tươi</label>
                                            </div>
                                            <div class="price">50.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/5.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m5" type="checkbox" name="">
                                                <label for="m5">Combo Hamburger + khoai tây chiên</label>
                                            </div>
                                            <div class="price">70.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/6.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m6" type="checkbox" name="">
                                                <label for="m6">Thịt heo trộn gỏi</label>
                                            </div>
                                            <div class="price">100.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/7.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m7" type="checkbox" name="">
                                                <label for="m7">Hamburger bò</label>
                                            </div>
                                            <div class="price">60.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="col-xs-12 col-md-4 col-lg-3">
                                <div class="food">
                                    <figure>
                                        <a href="#!" class="foodimg"><img src="img/food/8.jpg" alt=""></a>
                                        <figcaption>
                                            <div class="checkbox">
                                                <input id="m8" type="checkbox" name="">
                                                <label for="m8">Combo đặc biệt cho gia đình</label>
                                            </div>
                                            <div class="price">250.000đ</div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                        </div>
                        <div class="btn-wrap text-xs-center"><a href="dangnhap.html" class="btn-book">Đặt món</a></div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="text-xs-center">
            <div class="container">
                <div class="footertop clearfix">
                    <nav class="footernav clearfix">
                        <ul>
                            <li><a href="index.html">Trang chủ</a></li>
                            <li><a href="gioithieu.html">Giới thiệu</a></li>
                            <li><a href="dichvu.html">Dịch vụ</a></li>
                            <li><a href="datban.html">Đặt bàn</a></li>
                            <li><a href="thucdon.html">Thực đơn</a></li>
                            <li><a href="lienhe.html">Liên hệ</a></li>
                            <li><a href="dangnhap.html">Đăng nhập</a></li>
                        </ul>
                    </nav>
                    <div class="social clearfix"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div class="contactinfo clearfix">
                        <div class="company">TRUNG TÂM HỘI NGHỊ & TIỆC CƯỚI Grand Restaurant</div>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 12 Nguyễn Văn Bảo, P.4, Q.Gò Vấp, TP.Hồ Chí Minh</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> Điện thoại: (08) 3811 8181 - <i class="fa fa-envelope" aria-hidden="true"></i> Email: info@grandrestaurant.com.vn</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerbottom clearfix">
                <div class="container">
                    <div class="copyright">Copyright © 2017 Grand Restaurant. All rights reserved.</div>
                </div>
            </div>
        </footer>
        <div class="up"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <!-- inject:js -->
    <script src="js/addons.js"></script>
    <script src="js/main.js"></script>
    <!-- endinject -->
</body>

</html>

</html>